* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Colors */
:root {
  --Purple: #24053e;
  --Green: #44ffa1;
  --MarronRaro: #584d62;
  --BlancoRaro: #fcf8ff;
  --White: #ffffff;
}
/* Fonts */
@font-face {
  font-family: Manrope;
  src: url(../starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: Fraunces;
  src: url(../starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf);
}
body {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: var(--White);
}

footer {
  width: 100%;
  padding-bottom: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*ID's*/
#founder-img {
  width: 475px;
  height: 475px;
  position: absolute;
  z-index: 0;
}
#be-the-first {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-purple-advantages {
  position: relative;
  width: 100%;
  height: 1460px;
  background-color: var(--BlancoRaro);
  clip-path: ellipse(170% 100% at 50% 0%);
}

#pattern-1 {
  position: absolute;
  left: -5%;
  top: -10%;
}

#pattern-2 {
  position: absolute;
  right: -2%;
  bottom: -35%;
}

#pattern-3 {
  position: absolute;
  right: 10%;
  bottom: -15%;
}
#pattern-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 440px;
  width: 767px;
}
/*Buttons*/
#button-line {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-family: Manrope;
  font-size: 18px;
  border-bottom: 2px solid var(--Green);
  padding-bottom: 3px;
}

#button-line:hover {
  color: var(--Green);
}

#button-press {
  color: var(--Purple);
  background-color: var(--Green);
  border: none;
  font-family: Manrope;
  font-size: 18px;
  cursor: pointer;
}

#button-press:hover {
  color: var(--Green);
  background-color: var(--Purple);
  border: 2px solid var(--Green);
}
/*Class*/
.purple-home {
  position: relative;
  width: 100%;
  height: 730px;
  background-color: var(--Purple);
  clip-path: ellipse(170% 100% at 50% 0%);
  z-index: 0;
}

.navegation-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 165px 55px 165px;
}

.navegation-title {
  height: 260px;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-x: clip;
}

.contenedor-title-button {
  width: 635px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contenedor-title {
  text-align: center;
}
.Heading-l {
  font-family: fraunces;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  color: var(--White);
}

.underline-text {
  border-bottom: 2px solid var(--Green);
  display: inline-block;
}

.section-home-button {
  width: 160px;
  height: 60px;
}
.section-founder {
  width: 190px;
  height: 60px;
  font-weight: bold;
}
.advantages-workit {
  margin: 250px 161px 171px 165px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 305px;
}

.circle-advantage {
  font-family: fraunces;
  color: var(--Purple);
  font-size: 25px;
  border: solid 1px var(--Purple);
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-advantage {
  font-family: fraunces;
  font-size: 32px;
  font-weight: bold;
  color: var(--Purple);
  margin-top: 10px;
  text-align: center;
}
.subtitle-advantage {
  font-family: Manrope;
  font-size: 18px;
  color: var(--Purple);
  margin-top: 10px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;;
}

.container-first {
  width: 1115px;
  height: 100%;
  position: relative;
}

.card-founder {
  position: absolute;
  width: 730px;
  height: 415px;
  background: var(--Purple);
  padding: 60px;
  top: 30%;
  right: 0%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
}
.title-founder {
  font-family: fraunces;
  font-size: 45px;
  font-weight: bold;
  color: var(--White);
}

.subtitle-founder {
  font-family: Manrope;
  font-size: 18px;
  color: var(--White);
  margin-top: 10px;
  padding-right: 20px;
}

.contenedor-footer {
  width: 116px;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media svg:hover {
  cursor: pointer;
}

#color-svg:hover {
  fill: var(--Purple);
}

/*Formato Movil*/
@media screen and (max-width: 375px) {
  /*Images*/
  #pattern-1 {
    display: none;
  }
  #pattern-2 {
    display: none;
  }
  #pattern-3 {
    display: none;
  }
  #founder-img {
    width: 260px;
    height: 260px;
  }
  #pattern-mobile {
    height: 185px;
    width: 320px;
    top: 32%;
  }
  /*Buttons*/
  #button-line {
    font-size: 14px;
  }
  #button-press {
    font-size: 14px;
  }
  /*Text*/
  .title-founder{
    font-size: 30px;
    text-align: center;
  }

  .subtitle-founder{
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
  }
  .Heading-l {
    font-size: 40px;
    line-height: 40px;
    padding: 20px 30px 0px 30px;
  }
  .subtitle-advantage {
    padding: 0;
    font-size: 14px;
  }
  /*Clases*/
  .purple-home {
    height: 480px;
  }
  .navegation-home {
    padding: 35px 15px 35px 15px;
  }
  .advantages-workit {
    flex-direction: column;
  }
  .section-home-button {
    width: 130px;
    height: 55px;
  }
  .advantages-workit {
    margin: 150px 35px 0px 35px;
  }
  .advantages-number {
    height: 225px;
    margin-top: 20px;
  }
  .container-first {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 605px;
  }

  .card-founder{
    width: 96%;
    height: 375px;
    margin: 0 2% 0 2%;
    padding: 30px;
    display: flex;
    align-items: center;
    line-height: 25px;
  }

  #be-the-first{
    margin-bottom: 0;
  }

  footer{
    padding-bottom: 60px;
  }
}
